:root {
  --primary: #004f9e;
  --primary-dark: #003366;
  --footer: #001;
  --text: #000;
  --alt-text: #fff;
  --background: #f0f0f0;
  --alt-background: #e0e0e0;
  --mask-color: rgba(0, 0, 0, 1);
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background);
}

.navbar {
  background-color: var(--primary);
  width: 100%;
  left: 0;
  top: 0;
  z-index: 500;
  height: 60px;
  display: block;
}

.navbar .logo {
  float: left;
  height: 50px;
  padding: 5px;
}

.navbar .nav-items {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  height: 60px;
}

.navbar .nav-item,
.sub-nav {
  position: relative;
  background-color: var(--primary);
  transition: background-color 0.05s;
}
.navbar .nav-item:hover,
.sub-nav a:hover {
  position: relative;
  background-color: #003366;
}

.navbar .nav-item a {
  display: flex;
  align-items: center;
  color: var(--alt-text);
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 40px;
}
.navbar .sub-nav a {
  display: flex;
  align-items: center;
  color: var(--alt-text);
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 40px;
}
.navbar .sub-nav a::after {
  content: "▼";
  font-size: 0.6em;
  margin-left: 5px;
}

.navbar .sub-nav-items {
  border-top: 0px solid #005;
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: var(--primary);
  z-index: 600;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  max-height: 0;
  transition:
    max-height 0.2s,
    border-top 0.2s;
  width: 100%;
}

.navbar .sub-nav:hover .sub-nav-items {
  border-top: 1px solid #005;
  max-height: 300px;
}

.navbar .sub-nav-item a {
  display: block;
  color: var(--alt-text);
  text-decoration: none;
  transition: background-color 0.05s;
  padding: 10px;
  height: auto;
  text-align: left;
}

.navbar .sub-nav-item a::after {
  content: "";
}

.navbar .sub-nav-item:hover {
  background-color: var(--primary-dark);
}

.superscript {
  position: relative;
  bottom: 0.4em;
  font-size: 0.6em;
}

footer {
  background-color: var(--footer);
  color: var(--alt-text);
  padding: 50px 50px 0px 50px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 7fr 1fr 1fr;
  column-gap: 100px;
}

.footer-content {
  font-weight: bold;
  font-size: 1em;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.footer-links .link-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer-links .link-list .link-header {
  color: var(--primary);
  font-weight: bold;
}
.footer-links .link-list li {
  margin-bottom: 15px;
}
.footer-links .link-list li a {
  color: #ccc;
  text-decoration: none;
}
.footer-links .link-list li a:hover {
  color: #fff;
}

.footer-socials {
  grid-area: 2 / 1 / 2 / 2;
  grid-column: span 2;
  text-align: center;
  padding: 10px;
}
.footer-socials a {
  color: #ccc;
  text-decoration: none;
  padding: 0 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.footer-socials a svg {
  margin-right: 5px;
}
.footer-socials a:hover {
  color: #fff;
}

.footer-copyright {
  grid-area: 3 / 1 / 3 / 2;
  grid-column: span 2;
  font-size: 0.8em;
  text-align: center;
  margin-top: 10px;
}

.robots-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

.robot-card {
  width: calc((100% - (3 * 20px)) / 4);
  min-width: 300px;
  box-sizing: border-box;
  background-color: var(--primary);
  color: var(--alt-text);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
}

.robot-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.robot-card h2 {
  margin-top: 0;
}

.robot-card .robot-year {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 0;
  text-align: left;
}

.robot-card .img-container {
  width: 100%;
  aspect-ratio: 1;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 15px;
}
.robot-card .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page-title {
  font-size: 3em;
  margin-bottom: 20px;
  color: var(--primary);
}

.hero {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  height: calc(100vh - 60px);
  padding: 0 40px;
  background: linear-gradient(to top, rgb(from var(--primary) r g b / 0.2), transparent);
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.hero .main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hero-title {
  font-size: clamp(2.8rem, 7vw, 6rem);
  margin: 0;
  color: var(--primary);
  transition: color 0.3s ease;
}

.hero-subtitle {
  font-size: clamp(1.2rem, 3vw, 1.5rem);
  margin: 10px 0;
  color: var(--text);
  transition: color 0.3s ease;
}

.carousel {
  display: flex;
  flex-direction: column;
  scroll-snap-type: x mandatory;
  justify-content: center;
  align-items: center;
  gap: 25px;
  isolation: isolate;
  perspective: 500px;
  perspective-origin: 50% 50%;
  overflow: hidden;
  backface-visibility: hidden;
  padding: 10px;
}

.carousel-mask {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  isolation: isolate;
  justify-content: center;
  align-items: center;
  mask-image: linear-gradient(to bottom, transparent 0%, var(--mask-color) 10%, var(--mask-color) 90%, transparent 100%);
}

.hero-carousel-image {
  min-height: 25vw;
  height: 25vw;
  aspect-ratio: 1.4;
  overflow: hidden;
  scroll-snap-align: start;
  object-fit: cover;
  border-radius: 20px;
  opacity: 0.8;
  transition:
    0.75s ease-in-out,
    box-shadow 0s;
  transform: rotateX(10deg);
  transform-origin: center;
  background-color: var(--background);
  cursor: pointer;
  color: var(--text);
}

.carousel .active {
  min-height: 28vw;
  opacity: 1;
  transform: rotateX(0deg);
}

.carousel .active ~ .hero-carousel-image {
  transform: rotateX(-10deg);
  transform-origin: top;
}

.carousel .slide-up {
  transform: translateY(calc(-25vw - 25px)) rotateX(10deg);
}

.carousel .active ~ .slide-up {
  transform: translateY(calc(-25vw - 25px)) rotateX(-10deg);
}

.carousel .slide-up.active {
  transform: translateY(calc(-25vw - 25px));
}

.carousel .slide-down {
  transform: translateY(calc(25vw + 25px)) rotateX(10deg);
}

.carousel .active ~ .slide-down {
  transform: translateY(calc(25vw + 25px)) rotateX(-10deg);
}

.carousel .slide-down.active {
  transform: translateY(calc(25vw + 25px));
}

.hero-carousel-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section.content {
  padding: 40px;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("fonts/HelveticaNeueBold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
