:root {
  --primary: #004f9e;
  --primary-dark: #003366;
  --footer: #001;
  --text: #000;
  --alt-text: #fff;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: var(--primary);
  width: 100%;
  left: 0;
  top: 0;
  z-index: 500;
  height: 60px;
  display: block;
}

.navbar .logo {
  float: left;
  height: 50px;
  padding: 5px;
}

.navbar .nav-items {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  height: 60px;
}

.navbar .nav-item,
.sub-nav {
  position: relative;
  background-color: var(--primary);
  transition: background-color 0.05s;
}
.navbar .nav-item:hover,
.sub-nav a:hover {
  position: relative;
  background-color: #003366;
}

.navbar .nav-item a {
  display: flex;
  align-items: center;
  color: var(--alt-text);
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 40px;
}
.navbar .sub-nav a {
  display: flex;
  align-items: center;
  color: var(--alt-text);
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 40px;
}
.navbar .sub-nav a::after {
  content: "▼";
  font-size: 0.6em;
  margin-left: 5px;
}

.navbar .sub-nav-items {
  border-top: 0px solid #005;
  position: absolute;
  top: 100%;
  left: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: var(--primary);
  z-index: 600;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  max-height: 0;
  transition:
    max-height 0.2s,
    border-top 0.2s;
}

.navbar .sub-nav:hover .sub-nav-items {
  border-top: 1px solid #005;
  max-height: 300px;
}

.navbar .sub-nav-item a {
  display: block;
  color: var(--alt-text);
  text-decoration: none;
  transition: background-color 0.05s;
  padding: 10px;
  height: auto;
  text-align: left;
}

.navbar .sub-nav-item a::after {
  content: "";
}

.navbar .sub-nav-item:hover {
  background-color: var(--primary-dark);
}

main {
  height: 42.3vh;
}

footer {
  background-color: var(--footer);
  color: var(--alt-text);
  padding: 50px 50px 0px 50px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 7fr 1fr 1fr;
  column-gap: 100px;
}

.footer-content {
  font-weight: bold;
  font-size: 1em;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.footer-links .link-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer-links .link-list .link-header {
  color: var(--primary);
  font-weight: bold;
}
.footer-links .link-list li {
  margin-bottom: 15px;
}
.footer-links .link-list li a {
  color: #ccc;
  text-decoration: none;
}
.footer-links .link-list li a:hover {
  color: #fff;
}

.footer-socials {
  grid-area: 2 / 1 / 2 / 2;
  grid-column: span 2;
  text-align: center;
  padding: 10px;
}
.footer-socials a {
  color: #ccc;
  text-decoration: none;
  padding: 0 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.footer-socials a svg {
  margin-right: 5px;
}
.footer-socials a:hover {
  color: #fff;
}

.footer-copyright {
  grid-area: 3 / 1 / 3 / 2;
  grid-column: span 2;
  font-size: 0.8em;
  text-align: center;
  margin-top: 10px;
}
